#valkrae{
    width: 100%;
}
#tenYears{
    width: 100%;
    margin-top: 5px;
}
#apex{
    width: 100%;
    margin-top: 5px;
}
#adapt{
    width: 100%;
    margin-top: 5px;
}
#vital{
    width: 100%;
    margin-top: 5px;
}
#dual{
    width: 100%;
    margin-top: 5px;
}