.top{
    display: flex;
    justify-content: space-between;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
#img-title{
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.footer-link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 32vw;
    margin-right: 3vw;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
}
.footer-links:hover{
    cursor: pointer;
}
/* #footer-links > .active > .p{
    color: black;
    text-decoration: none;
} */
a.visited{
    text-decoration: none;
    
}
.footer-links > img{
    height: 15vh;
    width: 9vw;
}
.top-left{
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 3vw;
}


.column-items > li{
    display: inline;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.column-headers{
    font-size: 15px;
}