.loginForm{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.errors{
    color: red;
    list-style: none;
}
label{
    margin-top: 20px;
}
input{
    height: 45px;
    width: 250px;
    border-color: black;
}
#login{
    margin: 20px;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: large;
}
#login:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 24);
}
#demo-login{
    margin: 20px;
    width: 250px;
    height: 45px;
    margin-top:-5px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: large;
}
#demo-login:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 24);
}
#signup{
    margin: 20px;
}
