.signUpForm{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.errors{
    color: red;
    list-style: none;
}